%p#notice= notice

.row.pin-grid.transitions-enabled
  - @pins.each do |pin|
    .col-md-3.pin-item
      .panel.panel-default.pin
        .panel-body
          = image_tag pin.pin_image.url(:medium), class: 'img-responsive'
        .panel-footer
          %p= pin.description
          %div
            = link_to 'Edit', edit_pin_path(pin)
            | #{link_to 'Delete', pin, method: :delete, data: {confirm: 'Are you sure?'}}
