%h3
  = @user.username

.row.pin-grid.transitions-enabled
  - @user.pins.each do |pin|
    .col-md-3.pin-item
      .panel.panel-default.pin
        .panel-body
          = image_tag pin.pin_image.url(:medium), class: 'img-responsive'
        .panel-footer
          %p= link_to pin.user.username, user_path(pin.user.username)
          %p= pin.description
          - if pin.user == current_user
            %div
              = link_to 'Edit', edit_pin_path(pin)
              | #{link_to 'Delete', pin, method: :delete, data: {confirm: 'Are you sure?'}}
