%h2= @board.name

.row.pin-grid.transitions-enabled
  - @board.pins.each do |pin|
    .col-md-3.pin-item
      .panel.panel-default.pin
        .panel-body
          = link_to image_tag(pin.pin_image.url(:medium)), pin
        .panel-footer.panel-custom
          %p= link_to pin.user.username, user_path(pin.user.username)
          %p= pin.description
          %p= pluralize(pin.likes.count, "like")
          - if pin.user == current_user
            %div
              = link_to 'Edit', edit_pin_path(pin)
              | #{link_to 'Delete', pin, method: :delete, data: {confirm: 'Are you sure?'}}
          - if user_signed_in? && pin.user != current_user
            %div
              = link_to 'Repost', repost_pin_path(pin), method: :post, data: {confirm: 'Are you sure?'}
              = link_to 'Like', like_pin_path(pin), method: :post, class: 'pull-right'
